name: 'Monorepo Split'

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  provide_packages_json:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          coverage: none

      - uses: "ramsey/composer-install@v1"
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

      # get package json list
      - id: output_data
        run: echo "::set-output name=matrix::$(vendor/bin/monorepo-builder packages-json)"

    outputs:
      matrix: ${{ steps.output_data.outputs.matrix }}

  split_monorepo:
    needs: provide_packages_json

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: ${{fromJson(needs.provide_packages_json.outputs.matrix)}}

    steps:
      - uses: actions/checkout@v2

      -
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: "symplify/monorepo-split-github-action@2.1"
        with:
            package_directory: 'packages/${{ matrix.package }}'
            repository_organization: 'spatie'
            repository_name: '${{ matrix.package }}'
            user_name: "riasvdv"
            user_email: "rias@spatie.be"

      # with tag
      -
        if: "startsWith(github.ref, 'refs/tags/')"
        uses: "symplify/monorepo-split-github-action@2.1"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag: ${GITHUB_REF#refs/tags/}
            package_directory: 'packages/${{ matrix.package }}'
            repository_organization: 'spatie'
            repository_name: '${{ matrix.package }}'
            user_name: "riasvdv"
            user_email: "rias@spatie.be"
